$colors: (
  text: (
    base: #273849,
  ),
  gray: (
    base: #777,
  ),
  primary: (
    base: #42b983,
  ),
  secondary: (
    base: #d63200,
  ),
  mark: (
    base: #ffff6f,
  ),
);

@function colors($color, $tone: base) {
  @return map-get(map-get($colors, $color), $tone);
}
